
<html>
  <head>
    <base href="/">
    <title>Not A Game - Manager Training Simulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="conversation.svg" />
    <meta property="og:title" content="Conversation Chat Simple" />
    <meta property="og:description" content="Sample application that shows how to use the Watson Assistant API to identify user intents"
    />
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="css/app.css">
  </head>
  
  <body>
    <!-- <div id="view-change-button" class="button" onclick="PayloadPanel.togglePanel(event, this)">
      <img class="option full" src="../img/Chat Button.png">
      <img class="option not-full" src="../img/Code Button.png">
    </div> -->
    <div id="contentParent" class="responsive-columns-wrapper">
  
      <div id="chat-column-holder" class="responsive-column content-column">
        
        <div class="info-column-holder" background-color="red">
          <ul>
            <li onclick="InfoPanel.showdata('tasks')">Projects</li>
            <li onclick="InfoPanel.showdata('employees')">Employees</li>
            <li onclick="InfoPanel.showhelp()">Help</li>
            <form action="/logout" method="get">
              <button type="submit" class="logoutButton">Logout</button>
            </form>
          </ul>
          <div id="info" class="info-column">
            <h2>Help</h2>
            <div class="help">
              <p>Use the menu above to see employees and status of current project</p>
              <p><strong>Waiting</strong>
              <br>If you wish to jump to the end of a day or wait until employees finish a task, use:<br> wait</p>
              <p><strong>Assigning tasks</strong>
              <br>Employees can be assigned to tasks using commands such as:<br> Assign &ltemployee&gt to &lttask&gt</p>
              <p><strong>Relations</strong>
              <br>You can see how two employees work together using commands such as:<br> How do &ltemployee&gt and &ltemployee&gt get along?</p>
            </div>
          </div>
        </div>
        
        <div class="chat-column">
          <div id="scrollingChat"></div>
          <label for="textInput" class="inputOutline">
            <input id="textInput" class="input responsive-column" placeholder="Type something" type="text" onkeydown="ConversationPanel.inputKeyDown(event, this)" autofocus>
          </label>
          <input type="checkbox" name="textToSpeech" id="Speak" value="male">Enable TTS<br>
        </div>

      </div>

      <div id="payload-column" style="display:none"class="fixed-column content-column">
        <div id="payload-initial-message">
          Type something to see the output
        </div>
        <div id="payload-request" class="payload"></div>
        <div id="payload-response" class="payload"></div>
      </div>
      <audio autoPlay="true" style="display:none" id="audio" controls="controls">
              Your browser does not support the audio element.
      </audio>
    </div>
  
  
    <script src="js/common.js"></script>
    <script src="js/api.js"></script>
    <script src="js/conversation.js"></script>
    <script src="js/info.js"></script>
    <script src="js/payload.js"></script>
    <script src="js/global.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/watson-developer-cloud/watson-developer-cloud.github.io/master/analytics.js"></script>
  </body>
  
  </html>
  