
<html>
  <head>
    <base href="/">
    <title>Not A Game - Manager Training Simulator Registration Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:description" content="Login Page for Manager Simulator"
    />
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="css/app.css">
  </head>
  

  <div class="container" id="register">
    <header>
      <h1>Manager Training Simulator</h1>
    </header>
    <form action="/register" method="POST">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required autofocus>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required>

      <button type="submit" class="userButton">Register</button>
    </form>
    
    <form action ="/login" method="GET">
        <button type="submit" class="userButton">Return to login page</button>
    </form>
  </div>

  
  
  </html>
  